<?php

define('HOST', 'host.docker.internal');
define('PORT', 5672);
define('USE_TLS', false);
define('KEY_NAME', 'admin');
define('ACCESS_KEY', 'admin');

define('MY_TOPIC', 'MY.TEST.QUEUE.1');
define('MY_SUBSCRIPTION', 'MY.TEST.QUEUE.1');
define('MY_MESSAGE', 'my example message here');
